<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337944119727-s092ui4jb4hoku7uupn60mg64iqa2qsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337944119727-s092ui4jb4hoku7uupn60mg64iqa2qsg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>337944119727-bk7ruuucs14g1ji4870lecia003fcbfg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDShvs6eYC7Gr8iuaIi-Nj-WvhDm4HzEsE</string>
	<key>GCM_SENDER_ID</key>
	<string>337944119727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.btcore.youTv</string>
	<key>PROJECT_ID</key>
	<string>youtvapi</string>
	<key>STORAGE_BUCKET</key>
	<string>youtvapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337944119727:ios:c9bb2af017eff7f7</string>
	<key>DATABASE_URL</key>
	<string>https://youtvapi.firebaseio.com</string>
</dict>
</plist>